.gallery {
  li {
    display: inline-block;
    width: 23%;

    img {
      height: 300px;
      overflow: hidden;
      padding: 20px;
      width: 100%;

    }
  }
}
#item {
  margin: 13px 33%;
  display: block;
  width: 23%;
  img {
    padding: 20px;
    width: 100%;
  }
}
.top_menu {
  padding: 10px;
  border-radius: 15px;
  display: block;
  margin: 13px 30%;
  width: 560px;
  background-color: #e3ffd4;

  a{
    border-radius: 8px;
    padding: 5px;
    color: #000000 !important;
    background-color: ButtonFace;
  }

  a.sorter{
    padding: 3px;
    text-decoration: none;
    text-decoration-color: #000;
    background-color: #e3ffd4;
    border-radius: 5px;
  }

  a.sorter:hover{
    background-color: darkolivegreen !important;
  }
  a:visited {
    color: #000;
  }
}

a.btn {
  color: #000000 !important;
  background-color: ButtonFace;
  border-radius: 8px;

}
a.btn.delete{
  padding: 2px 5px;
  position: absolute;
  margin: 15px 0 0 300px;
}

a.btn.edit{
  padding: 5px;
  margin-left: 15px;
}

input{
  margin-bottom: 5px;
  border-radius: 8px;
}

.upload_form{
  padding: 10px;
  border-radius: 15px;
  display: block;
  margin: 13px 33%;
  width: 375px;
  background-color: #e3ffd4;
  a{
    border-radius: 8px;
    padding: 5px;
    color: #000000 !important;
    background-color: ButtonFace;
  }
  form{
    padding-top: 10px;
    border-radius: 10px;
  }
}